@model IEnumerable<Calibration_Management_System.Models.Uncontrolled>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>UNCONTROLLED MASTERLIST</h1>


<div>
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="Create" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none;">Create New</a>
        </div>
        <div>
            <button type="button" class="btn btn-dark button-export" onclick="exportToExcelFR()">Export to Excel</button>
        </div>
    </div>
</div>

<div class="card" style="padding:5px;">
    <h5 class="card-header">Failure Report Data</h5>
    <hr />
    <div class="table-responsive text-nowrap">
        <table id="uncontrolled-registration" class="display table" >
            <thead>
                <tr>
                    <th> --A c t i o n--</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nameEquip)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_modelType)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_serial)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_maker)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reasonUncontrolled)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_qty)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqDate)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqBy)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_department)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_commento)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            &nbsp;&nbsp;<a asp-action="Edit" asp-route-id="@item.id">Edit</a>&nbsp;&nbsp; |
                            &nbsp;&nbsp;<a asp-action="Details" asp-route-id="@item.id">Details</a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.fld_nameEquip)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_modelType)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_serial)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_maker)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_reasonUncontrolled)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_qty)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_reqDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_reqBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_department)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_commento)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.fld_nameEquip)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_modelType)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_serial)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_maker)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reasonUncontrolled)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_qty)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqDate)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqBy)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_department)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_commento)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

