@model IEnumerable<Calibration_Management_System.Models.CalibrationResultEQP>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CALIBRATION MANAGEMENT SCHEDULE [EQUIPMENT]</h1>

@* <div>
    <div  style="text-align: right;">
         <div>
            <button type="button" class="btn btn-dark button-export" onclick="exportToExcelResultEQP()">Export to Excel</button>
        </div>
    </div>
</div> *@



<div class="card" style="margin-top:15px; padding:10px;">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Enter Month:</label>
                    <select id="searchMonth" class="form-select">
                        <option selected value="">Select month </option>
                        <option value="01">01</option>
                        <option value="02">02</option>
                        <option value="03">03</option>
                        <option value="04">04</option>
                        <option value="05">05</option>
                        <option value="06">06</option>
                        <option value="07">07</option>
                        <option value="08">08</option>
                        <option value="09">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                    </select>
                </div>

            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label class="control-label">Enter Year:</label>
                    <input type="number" id="searchYear" class="form-control" placeholder="Enter Year" min="2020" max="3000">
                </div>

            </div>
            <div class="col-md-12">
                <div class="form-group" style="text-align: right;"> 
                    <div> 
                        <label id="completionRate"></label>
                        <label id="totalRate"></label>
                        <label id="totalCalibrated"></label>
                    </div>
                    <div>
                        <button id="viewSchedule" type="button" class="btn btn-primary">
                            View Completion Percentage
                        </button>
                    </div>
                    
                </div>
            </div>

        </div>
    </div>
    <hr style="border-top: 2px solid #000000;"/>
    <div class="table-responsive text-nowrap">
        <table id="dailyCalibEQP" class="display dataTable custom-table" style="width:100%" >
            <thead>
                <tr>
                    <th>A c t i o n</th>
                    <th>@Html.DisplayNameFor(model => model.fld_stat)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_codeNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_ctrlNo)</th>
                    <th>@Html.DisplayNameFor(model => model.calibrationdate)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_eqpName)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_eqpModelNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_serial)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_brand)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_term)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqFunction)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_passFail)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_imte)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibDate)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibMonth)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibYear)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nextCalibDate)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nextCalibMonth)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nextCalibYear)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_internalExternal)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_supplierExternal)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_comment)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_appStandardEqp)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathIMG)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathDoc)</th>
                    
                    <th >@Html.DisplayNameFor(model => model.fld_dateReturned)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_withNC)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_CalibFR)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_calibDisSusForm)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_withCalibResult)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_incharge)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_remarks)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_changeSticker)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_actualCalibDueDate)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_dateRecv)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_month)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_year)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            &nbsp;&nbsp;<a href='/ResultEQP/Edit/" + @item.id + '>Edit</a>&nbsp;&nbsp; 
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.fld_stat)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_codeNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_ctrlNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.calibrationdate)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_eqpName)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_eqpModelNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_serial)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_brand)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_term)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_reqFunction)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_passFail)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_imte)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_calibDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_calibMonth)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_calibYear)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_nextCalibDate)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_nextCalibMonth)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_nextCalibYear)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_internalExternal)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_supplierExternal)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_comment)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_appStandardEqp)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_pathIMG)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_pathDoc)</td>

                        <td >@Html.DisplayFor(modelItem => item.fld_dateReturned)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_withNC)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_CalibFR)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_calibDisSusForm)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_withCalibResult)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_incharge)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_remarks)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_changeSticker)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_actualCalibDueDate)</td>
                        <td >@Html.DisplayFor(modelItem => item.fld_dateRecv)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_month)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_year)</td>

                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.fld_stat)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_codeNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_ctrlNo)</th>
                    <th>@Html.DisplayNameFor(model => model.calibrationdate)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_eqpName)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_eqpModelNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_serial)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_brand)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_term)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqFunction)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_passFail)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_imte)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibDate)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibMonth)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibYear)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nextCalibDate)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nextCalibMonth)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nextCalibYear)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_internalExternal)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_supplierExternal)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_comment)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_appStandardEqp)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathIMG)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathDoc)</th>
                    
                    <th >@Html.DisplayNameFor(model => model.fld_dateReturned)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_withNC)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_CalibFR)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_calibDisSusForm)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_withCalibResult)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_incharge)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_remarks)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_changeSticker)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_actualCalibDueDate)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_dateRecv)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_month)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_year)</th>
                </tr>
            </tfoot>
        </table>
    </div>
</div>

