@model IEnumerable<Calibration_Management_System.Models.RegistrationClass>

@{
    ViewData["Title"] = "IndexJig";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div style="display: flex; justify-content: space-between; align-items: center;">
    <h1>JIG REGISTRATION</h1>
    <div>
        <div>
            <a asp-action="Create_Reg_Jig" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none;">New Registration</a>
            <a asp-action="Create_ReReg_Jig" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none;">Re-Registration</a>
        </div>
    </div>
</div>


<hr />
<div class="card" style="padding:5px;">
    <div class="righto card-header">
        <b>
            <label id="complete">Completed: @ViewBag.CompleteCount &ensp;</label> |
            <label id="pending">&ensp; Pending: @ViewBag.PendingCount &ensp;</label> |
            <label id="ongoing">&ensp; Ongoing: @ViewBag.OngoingCount</label>
        </b>
    </div>
    <br />
    
    <div class="table-responsive text-nowrap">
        <table id="table-registration-jig" class="display dataTable custom-table" style="width:100%">
            <thead>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.fld_dateReg)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqFunction)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_incharge)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_approvedBy)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_codeNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_ctrlNo)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_jigName)</th>
                    <th >@Html.DisplayNameFor(model => model.fld_drawingNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_eqpName)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_eqpModelNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_serial)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_brand)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_submissionDate)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_receivedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_status)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_emailOne)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_emailTwo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_emailThree)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_reRegJigCtrlNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_jigCategory)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_remarks)</th>
                    
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a style="font-size:x-small;" asp-action="Edit_DataJig" asp-route-id="@item.id">Edit</a> |
                            <a style="font-size:x-small;" asp-controller="JigMaster" asp-action="EditGet" asp-route-fld_codeNo="@item.fld_codeNo" asp-route-fld_jigName="@item.fld_jigName" asp-route-fld_drawingNo="@item.fld_drawingNo" asp-route-fld_serial="@item.fld_serial" asp-route-fld_reqFunction="@item.fld_reqFunction" asp-route-fld_ctrlNo="@item.fld_ctrlNo">Register Calibration</a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.fld_dateReg)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_reqFunction)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_incharge)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_approvedBy)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_codeNo)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_ctrlNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_jigName)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_drawingNo)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_eqpName)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_eqpModelNo)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_serial)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_brand)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_submissionDate)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_receivedBy)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_status)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_emailOne)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_emailTwo)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_emailThree)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_reRegJigCtrlNo)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_jigCategory)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_remarks)</td>
                       
                    </tr>
                }
            </tbody>
            @* <tfoot>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.fld_dateReg)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_reqFunction)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_incharge)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_approvedBy)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_codeNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_ctrlNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_jigName)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_drawingNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_eqpName)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_eqpModelNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_serial)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_brand)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_submissionDate)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_receivedBy)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_status)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_emailOne)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_emailTwo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_emailThree)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_reRegJigCtrlNo)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_jigCategory)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_remarks)</th>
                    
                </tr>
            </tfoot> *@
        </table>
    </div>
</div>

 



