@model IEnumerable<Calibration_Management_System.Models.NCR>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>NCR MASTERLIST</h1>

<div>
    <div class="d-flex justify-content-between">
        <div>
            <a asp-action="Create" style="background-color: #007bff; color: #fff; padding: 10px 20px; text-decoration: none;">Create New</a>
        </div>
        <div>
            <button type="button" class="btn btn-dark button-export" onclick="exportToExcelNCR()">Export to Excel</button>
        </div>
    </div>
</div>


<div class="card" style="padding:5px;">
    <h5 class="card-header">Failure Report Data</h5>
    <hr />
    <div class="table-responsive text-nowrap">
        <table id="ncr-registration" class="display" style="width:100%">
            <thead>
                <tr>
                    <th> --A c t i o n--</th>
                    <th>@Html.DisplayNameFor(model => model.fld_nonConReportNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_dateIssue)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_ctrlNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_IssueTo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_mainIncharge)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_modelNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_qty)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_withDisposalForm)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_contents)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_dateCompleted)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_status)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibReportNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_giveDisposeSuspendedForm)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_givenTo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_rcvDisposeSuspendedForm)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathDoc)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathIMG)</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            &nbsp;&nbsp;<a asp-action="Edit" asp-route-id="@item.id">Edit</a>&nbsp;&nbsp; |
                            &nbsp;&nbsp;<a asp-action="Details" asp-route-id="@item.id">Details</a>
                        </td>
                        <td>@Html.DisplayFor(modelItem => item.fld_nonConReportNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_dateIssue)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_ctrlNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_IssueTo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_mainIncharge)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_modelNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_qty)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_withDisposalForm)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_contents)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_dateCompleted)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_status)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_calibReportNo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_giveDisposeSuspendedForm)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_givenTo)</td>
                        <td>@Html.DisplayFor(modelItem => item.fld_rcvDisposeSuspendedForm)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_pathDoc)</td>
                        <td hidden>@Html.DisplayFor(modelItem => item.fld_pathIMG)</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <th></th>
                    <th>@Html.DisplayNameFor(model => model.fld_nonConReportNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_dateIssue)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_ctrlNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_IssueTo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_mainIncharge)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_modelNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_qty)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_withDisposalForm)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_contents)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_dateCompleted)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_status)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_calibReportNo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_giveDisposeSuspendedForm)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_givenTo)</th>
                    <th>@Html.DisplayNameFor(model => model.fld_rcvDisposeSuspendedForm)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathDoc)</th>
                    <th hidden>@Html.DisplayNameFor(model => model.fld_pathIMG)</th>
                </tr>
            </tfoot>
        </table>

    </div>
</div>
